AJ.DuplexClient/Service References/InformationServiceReferenceHttp/datacontract.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn://ajdotnet.duplexservice/datacontract" elementFormDefault="qualified" targetNamespace="urn://ajdotnet.duplexservice/datacontract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMessageItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageItem" nillable="true" type="tns:MessageItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageItem" nillable="true" type="tns:ArrayOfMessageItem" />
  <xs:complexType name="MessageItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageItem" nillable="true" type="tns:MessageItem" />
</xs:schema>