AJ.DuplexClient/Service References/InformationServiceReferenceHttp/information.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn://ajdotnet.duplexservice/information" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn://ajdotnet.duplexservice/information" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn://ajdotnet.duplexservice/information/Imports">
      <xsd:import namespace="urn://ajdotnet.duplexservice/information" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="urn://ajdotnet.duplexservice/datacontract" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInformationService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IInformationService_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IInformationService_GetMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="IInformationService_GetMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IInformationService_GetRegisteredClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegisteredClients" />
  </wsdl:message>
  <wsdl:message name="IInformationService_GetRegisteredClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegisteredClientsResponse" />
  </wsdl:message>
  <wsdl:portType name="IInformationService">
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="urn://ajdotnet.duplexservice/information/IInformationService/SendMessage" message="tns:IInformationService_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="urn://ajdotnet.duplexservice/information/IInformationService/SendMessageResponse" message="tns:IInformationService_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input wsaw:Action="urn://ajdotnet.duplexservice/information/IInformationService/GetMessages" message="tns:IInformationService_GetMessages_InputMessage" />
      <wsdl:output wsaw:Action="urn://ajdotnet.duplexservice/information/IInformationService/GetMessagesResponse" message="tns:IInformationService_GetMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegisteredClients">
      <wsdl:input wsaw:Action="urn://ajdotnet.duplexservice/information/IInformationService/GetRegisteredClients" message="tns:IInformationService_GetRegisteredClients_InputMessage" />
      <wsdl:output wsaw:Action="urn://ajdotnet.duplexservice/information/IInformationService/GetRegisteredClientsResponse" message="tns:IInformationService_GetRegisteredClients_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>